#tableuno{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
   background-color: #DAF2DF;
    text-align: center;
}


td{
    
    width: 30px;
    
    margin-left: 20px;;
    font-size: 12px;
    color:black
}

.g{
    font-size: 15px;
    width: 40px;
    color:white;
   
    
}

.m{
    font-size: 15px;
    width: 30px;
    border-top: 2px solid black;
    color:white;
}
.ii{
    font-size: 15px;
    width: 15px;
    
    color:white;
}
.dis{
    background-color: #DAF2DF;
}
.dis:hover {
    background-color: #9FD5C2;
}

.id{
    font-size: 12px;
    width:65px;
    text-align: justify;
    
    color:black;
}
.i{
    font-size: 15px;
    width:70px;
   
    color:white;
}